.vscode/**
.vscode-test/**
.github/**
src/**
tests/**
coverage/**
reports/**
node_modules/**
!node_modules/minimatch/**
!node_modules/brace-expansion/**
!node_modules/balanced-match/**
*.vsix
*.log
tsconfig.json
eslint.config.js
vitest.config.ts
stryker.conf.json
.gitignore
.cspell.json
.prettierrc.json
.prettierignore
.editorconfig
.markdownlint.json
.markdownlinkcheck.json
.releaserc.json
.ls-lint.yaml
.serena
